body{font-family: 'Open Sans', sans-serif; color: #565656; }
.container{width: 995px;}
.col-md-3{width: 280px;margin: 15px 0; padding: 0}
.col-md-9{width: 715px;margin: 15px 0; padding: 0}
/*TopNews*/
.topnews{position:relative; background: #f6f6f6; color: #565656; background-size: 100%; height: 325px; }

.col-md-6 > ol:nth-child(2){height: 240px; overflow: hidden;}

#wide{position: absolute; left:0; top: 0; bottom:0; right: 0; margin: auto;width: 100%; height: 335px; background:#f6f6f6; margin-top: -10px;}
#wide2{position: absolute; left:0; top: 0; bottom:0; right: 0; margin: auto;width: 100%; height: 190px; background:#f6f6f6; margin-top: -10px;}

ol{margin-left: -24px; }
.ad300{margin-top: 25px;}
.topnews li{font-size:15px; line-height: 24px; margin-bottom: 6px;}
.wide h4:not(:first-child){margin-top: 54px; }
.wide strong{margin-right: 8px;}
.wide p{line-height: 10px;}
.topnews h3, h4{margin-top: 0; color: #737373;}


.col-md-2 > p:nth-child(7){line-height: 20px; text-align: center;}

/*SearchBlock*/
.searchblock{margin-top: 10px; height: 80px;}
.sinput{width:714px;  background: *url("/img/navbar.png") no-repeat scroll left top rgba(0, 0, 0, 0); }
/*p.logo{font-family: 'Lato', sans-serif; font-size: 30px; color: #ff7835; margin-bottom: -4px;  }
.logotext{float: left; margin-right: 10px;}*/
.logo{margin-top: 7px; *margin-left: -15px; }
.stitle{background: #ff5400; color:white;display: inline-block;padding: 5px;}
.sinput img{margin-left: -5px}
.searchlinks{margin-bottom: -10px;}
.sinput{margin: 0; padding: 0}

ul.searchlinks {display: inline; margin-left: -35px;}
ul.searchlinks li {display: inline; margin-right: 25px; font-size: 14px;}
ul.searchlinks a{color: #656565}
/*ul.searchlinks a:hover, a:active, a:focus{color: #ff5400; text-decoration: none;}*/

input[type="text"] {
   border: 2px solid #ff5400;
   border-radius: 1px;
   width: 610px;
   height: 33px;
   /*margin-top: -5px;*/
}

input[type="submit"] {
	background: #ff5400;
	color: white;
	border: none;
	height: 33px;
	margin-left: -5px;
	width: 105px;
}

/*AfterSearch*/
.ad336{float: left;}
.ad336:first-child{margin-right: 43px}

ul{list-style-type: none; margin-left: -40px; margin-top: 4px;}
/*ul.quality{list-style-type: none; margin-left: -40px;}*/
ul.quality li{display: inline; background: #FF7835; padding: 2px;}
ul.quality li a{color:white; text-decoration: none;}
ul.quality + li:hover, li:focus {background: #ff5400}

/*Goroskop*/
/*ul.goroscop li{display: inline; padding: 2px;}*/
ul.quality + h4{margin-top: 40px;}
ul.goroscop li { float:left; width: 90px; margin-bottom: 5px; }
ul.goroscop li a { color: #565656;}
ul.goroscop li:nth-child(3n+1) {clear:both;}

.smad{margin-top: 10px;}
.adsmall{float: left;  width: 130px;}


/* Single Goroscop*/
.comment{color: #A6969F; font-size: 11px;}

/* Single News*/
.text{margin-left: -15px;}
.searchblock + h1 {margin-left: -15px;}
#wide2 + div {margin-left: -15px;}

.similar{margin-top: 50px;}
.similar li{margin-bottom: 8px; list-style-type: none;}
.similar a { text-decoration: underline; color: black;}
.similar a:focus, a:hover, a:active { text-decoration: underline; color: #23527C;}